body {
    background-color: black;
}

.array-box {
    position: absolute;
    left: 100px;
    top: 100px;
}

.array-bar {
    width: 3px;
    background-color: lightblue;
    display: inline-block;
    margin: 0 2px;
}